* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
#heading {
  width: 80vw;
  margin: 3em auto 0;
  font-size: 3rem;
} */

.btn {
  padding: .4em;
  background-color: #333;
  color: #f4f4f4;
}

.nav {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  border-bottom: solid .2em #333;

}